/* *{
    margin:0px;
    padding:0px;
    font-family: roboto;
     border: 1px solid black; 
   
} */
.navbar-list{
    text-align:center;
    padding:0;
    border: 2px solid #ddd;
    background-color:#efebeb;
    position:fixed;
    width:100%;
    top:70px;
    z-index:1;
}

.navbar-list li {
    display:inline;
    margin-left:30px;
    cursor:pointer;
    
   
}

.navbar-list a {
    color:#2e2a22;
}

.text-bold {
    font-weight:bold;
    text-decoration:underline;
}

.container{
    text-align:center;
    width: 1250px;
    margin:0 auto;
    margin-top:60px;
    padding-top:20px;
    /* border: 3px solid black;  */
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top:150px;
    margin-bottom:70px;
    

}

.card{
    width: 260px;
    height:330px;
    border-radius:5%;
    overflow:hidden;
    transition: 0.3s;
    margin-top:10px;
    
}


.card:hover{   
    box-shadow:2px 2px 8px rgba(0,0,0,0.5);
}

.img{
    background:white;
    width:260px;
    height:200px;
    overflow:hidden;
}

.botton-card{  
    background-color:#fea101;
    border:none;
    border-radius:3px;
    padding:5px 3px;
    margin:5px auto;
    width:100px;
   
}



 a {
    text-decoration:none;
    color : white;
}

.botton-card:hover{
   box-shadow:1px 1px 2px rgba(0,0,0,0.5);
   cursor:pointer;
}

.botton-card:active{
    background-color:#cc8202;
}

.navbar-list{
    /* background-color:black; */
    padding:30px 0px;
}

.btn {
    background-color:#3CB371;
}

.checked {
    color: orange;
  }


  /* style modal */

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    padding-top:10px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height:90%;
    overflow-y:scroll;
    text-align:center;
  }
  .close {
    color: #aaaaaa;
    position:relative;
    top:-10px;
    right:-420px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.container-modal{
    position:relative;
    z-index:999;
}
.container-modal .count{
      position:fixed;
      top:15px;
      right:100px;
      background-color:rgba(0, 0, 0, 0);
      padding:25px 40px;
      border: none;
      color:#ffdbc4;
      font-weight:bold;
  }

.container-modal .image{
    position:fixed;
    top:15px;
    right:135px;
}

.btn {
    border:none;
    padding:5px 5px;
    margin:3px;
}
.btn-primary {
    background-color:#69ce3c;
    margin-left:10px;
    border-radius:5px;
    color:white;
}

.btn-primary:hover,
.btn-plus:hover {
   cursor:pointer;
   background-color:#39761e;
}

.btn-plus {
    background-color:#69ce3c;
    color:white;
}

.btn-minus {
    padding:5px 7px; 
    color:white;
    background-color:#dd0909;
}

.btn-danger {
    color:white;
    background-color:#dd0909;
}

.btn-danger:hover,
.btn-minus:hover {
   cursor:pointer;
   background-color:#9c0707;
}

.img-table{
    border-radius:10px;
}

.card-modal {
    text-align:center;
    width: 200px;
    height:250px;
    border-radius:5%;
    overflow:hidden;
    transition: 0.3s;
    margin-top:10px;
    border:1px solid grey;
    display: inline-block
}
.total-harga{
    background-color:#39761e;
    color:white;
    margin:5px auto;
    padding:5px;
}

.btn-checkout{
   padding:10px 10px;
   margin-top: 12px;
   border:none;
}
#grand-total{
    margin-left:10px;
    margin:10px auto;
}

hr {
    width:100px;
    margin:1px auto;
}

.deskripsi {
    font-size:10px;
}